
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
        
    }

html{
	font: normal 22px sans-serif;

}

ul, nav{
	list-style: none;
}

a{
	text-decoration: none;
	color: white;
	opacity: 0.8;
}


.btn:hover {
      background:pink;
    }

 

section{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 125px 100px;
}

@media (max-width: 1000px){

	section{
		padding: 100px 50px;
	}

}

@media (max-width: 600px){

	section{
		padding: 80px 30px;
	}

}

section h3.title{
	color: #414a4f;
	text-transform: capitalize; 
	font: bold 32px 'Open Sans', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}

section p{
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;

}

header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 100px 0;
}

header h2{
	font-family: 'Quicksand', sans-serif;
}

header nav{
	display: flex;
}

header nav li{
	margin: 0 15px;
}

header nav li:first-child{
	margin-left: 0;	
}

header nav li:last-child{
	margin-right: 0;	
}



@media (max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}


@media (max-width: 700px){
	header{
		flex-direction: column;		
	}

	header h2{
		margin-bottom: 15px;
	}
}


.onze{
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}

.onze .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #2196F3;
	z-index: -1;
}

.onze .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #414a4f;
	opacity: 0.75;
}

.onze h1{
	font: bold 60px 'Open Sans', sans-serif;
	margin-bottom: 15px;
}

.onze h3{
	font: normal 28px 'Open Sans', sans-serif;
	margin-bottom: 40px;
}


@media (max-width: 800px){

	.onze{
		min-height: 600px;
	}

	.onze h1{
		font-size: 48px;
	}

	.onze h3{
		font-size: 24px;
	}

	.onze a.btn{
		padding: 15px 40px;
	}


@media (max-width: 1000px){

	.our-work .grid li.small,
	.our-work .grid li.large{
		flex-basis: 100%;
	}


.lucas{
	background-color: white;
}


.zoom {
width: 320px;
height: 240px;
}
.image {
width: 100%;
height: 100%;
}
.image img {
-o-transition: all 1s ease; 
transition: all 1s ease;
}
.image:hover img {
-webkit-transform:scale(1.25);
-moz-transform:scale(1.25); 
-ms-transform:scale(1.25); 
-o-transform:scale(1.25); 
transform:scale(1.25);
}